In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import math
import functions as f
import json
import sys, importlib
import csv

In [2]:
df = pd.read_csv("../../../../msc_project/data/CoMix_UK/merged_df_filter.csv")
df1 = df[(df['sday_id'] >= "2020-07-30") & (df['sday_id'] < "2020-09-03")]
df2 = df[(df['sday_id'] >= "2020-09-03") & (df['sday_id'] <= "2020-10-26")]
df1

,Unnamed: 0.1,Unnamed: 0,part_id,hh_id,part_age,part_gender,cont_id,cnt_age_exact,cnt_age_est_min,cnt_age_est_max,...,month,year,wave,X_y,country,hh_size,part_average_age,cnt_average_age,part_rand_age,cnt_rand_age
0,88605,88605,A10_10001,HHA10_10001,40-49,F,A10_10001001,NaN,35.0,44.0,...,8,20,10,1,uk,4.0,44.5,39.5,41.336752,40.670599
1,88606,88606,A10_10001,HHA10_10001,40-49,F,A10_10001002,NaN,10.0,14.0,...,8,20,10,1,uk,4.0,44.5,12.0,40.813323,12.508410
2,88607,88607,A10_10001,HHA10_10001,40-49,F,A10_10001003,NaN,5.0,9.0,...,8,20,10,1,uk,4.0,44.5,7.0,48.244564,7.639107
3,88639,88639,A10_10002,HHA10_10002,60-69,M,A10_10002001,NaN,65.0,69.0,...,8,20,10,2,uk,2.0,64.5,67.0,68.711464,65.143235
4,88670,88670,A10_10003,HHA10_10003,70-120,F,A10_10003001,NaN,75.0,79.0,...,8,20,10,3,uk,2.0,95.0,77.0,112.437003,75.851865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167155,1246718,1246718,F2_604400,HHF2_604400,70-120,F,F2_604400002,NaN,65.0,69.0,...,9,20,2,104324,uk,2.0,95.0,67.0,83.093684,66.093168
167156,1246719,1246719,F2_604400,HHF2_604400,70-120,F,F2_604400003,NaN,18.0,64.0,...,9,20,2,104324,uk,2.0,95.0,41.0,92.185882,42.054922
167157,1246720,1246720,F2_604400,HHF2_604400,70-120,F,F2_604400004,NaN,18.0,64.0,...,9,20,2,104324,uk,2.0,95.0,41.0,71.026730,52.856113
167158,1246721,1246721,F2_604401,HHF2_604401,40-49,F,F2_604401001,NaN,35.0,44.0,...,9,20,2,104325,uk,3.0,44.5,39.5,41.827465,38.419789
167159,1246722,1246722,F2_604401,HHF2_604401,40-49,F,F2_604401002,NaN,18.0,19.0,...,9,20,2,104325,uk,3.0,44.5,18.5,46.822471,18.491231

In [5]:
importlib.reload(sys.modules['functions'])
buckets = [5,12,18,30,40,50,60,70]
egos1 = f.egos_for_error_calculation(df1, buckets=buckets)
egos2 = f.egos_for_error_calculation(df2, buckets=buckets)

167159
231496

KeyError: 'ages'

In [7]:
egos1_a = []
egos1_c = []
egos2_a = []
egos2_c = []

for x in egos1:
    egos1_a.append(x['age'])
    egos1_c.append(x['contacts'])
for x in egos2:
    egos2_a.append(x['age'])
    egos2_c.append(x['contacts'])

filename = 'data/egos_1a.csv'
# Writing to CSV
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    # Write each row from the list to the CSV
    for row in egos1_a:
        writer.writerow([row])

filename = 'data/egos_1c.csv'
# Writing to CSV
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    # Write each row from the list to the CSV
    for row in egos1_c:
        writer.writerow(row)

filename = 'data/egos_2a.csv'
# Writing to CSV
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    # Write each row from the list to the CSV
    for row in egos2_a:
        writer.writerow([row])

filename = 'data/egos_2c.csv'
# Writing to CSV
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    # Write each row from the list to the CSV
    for row in egos2_c:
        writer.writerow(row)